{% extends 'base.html' %}

{% block title %} Contact {% endblock %}

{% block body %}

<div class = "container">
    <h1>Signup Form</h1>

    <ul class = "messages">
        {% for msg in messages %}
        <li>
            <div class = "alert alert-{{msg.level_tag}}" role ="alert">
                {{msg.message}}
            </div>

        {% endfor %}

    <form action="{% url 'addUser' %}" method="post">

    {% csrf_token %}

    <form>
        <div class="form-group">
            <label>Username</label>
            {{form.username}}
        </div>


        <div class="form-group">
          <label>Password</label>
          {{form.password}}
        </div>

        <div class="form-group">
            <label>Email address</label>
            {{form.email}}
        </div>

        <div class="form-group">
            <label>Phone no</label>
            {{form.phone}}
        </div>

        <button type="submit" class="btn btn-primary"> Submit </button>
      </form>

    </form>

</div>
{% endblock %}